@(pageTitle: String)(content: Html)

<html xmlns="http://www.w3.org/1999/xhtml">
    @Global.html5.header {

        @Global.application.meta
        @Global.application.stylesheets

        @Global.html5.title {
            "Eatalot @pageTitle"
        }
    }

    @Global.html5.body {

        @Global.html5.bodyHead {
            <div class="navbar navbar-inverse set-radius-zero" >
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">

                            <img src="assets/images/logo.png" />
                        </a>

                    </div>

                    <div class="right-div">
                        <a href="#" class="btn btn-danger pull-right">LOG ME OUT</a>
                    </div>
                </div>
            </div>
        }

        @Global.html5.nav

        @if(content != null) {
            @content
        }

        @Global.html5.article {
            <p>
                Article content goes here
                <br>
                Quite easy actually
                <br>
                See...
            </p>
        }

        @Global.html5.footer

    }

    @Global.application.scripts

</html>