@import Global.Static.masterpage
@import play.data.Form
@import helper.CSRF
@import models.User.UserLogin

@(loginForm: Form[UserLogin])

@bodyContent = {
    <h1>Login Form</h1>
    <br/>
    <br/>
    <div class="body">
    @helper.form(action = controllers.User.routes.AccountController.doLogin) {
        @CSRF.formField
        @helper.inputText(loginForm("E-Mail"), '_name -> "edtEmail")
        @helper.inputPassword(loginForm("Password"), '_name -> "edtPassword")
        <input class="check-box" type="checkbox" value="Remember Me" name="chkRemember">
        <br/>
        <br/>
        <input class="btn btn-success" type="submit" value="Login"/>
    }
    </div>
}

@masterpage(" :: Login"){@bodyContent}
