@import Global.Static.masterpage
@import helper.CSRF
@import models.User.User
@import play.data.Form

@(userForm: Form[User])


@masterpage(" : Registration") {
    <h1>Register User</h1>
    <br>
    <br>
    @helper.form(action = controllers.User.routes.AccountController.save()) {
        @CSRF.formField
        @helper.inputText(userForm("E-Mail"))
        @helper.inputPassword(userForm("Password"))
        @helper.inputPassword(userForm("Confirm Password"))
        <input class="button-bar" type="submit" value="Register"/>
    }
}
