@import Global.Static.masterpage
@import java.util.List
@import controllers.Application.AppTags
@import helper._
@import models.User.Admin.MealItem

@(mealsList: List[MealItem])

    @getColor(isActive: Boolean, index: Integer) = {
        @if(isActive) {
            @if((index % 2) == 0) {
                odd
            } else {
                even
            }
        } else {
            disabledAccount
        }
    }

    @table = {
        <div class="row-width-center">
            <div class="panel panel-default">
                @*<div class="panel-heading">*@
                @*Advanced Tables*@
                @*</div>*@
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="# Order: activate to sort column ascending" style="width: 189px;">
                                            Meal Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Meals: activate to sort column ascending" style="width: 291px;">
                                            Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 291px;">
                                            Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 291px;">
                                            Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*https://groups.google.com/d/msg/play-framework/hEQ33y6_kSI/9pZ-RLRnRpsJ*@
                                    @for((item, index) <- mealsList.zipWithIndex) {
                                        <tr class="@getColor(item.isActive, index)">
                                            <td class="sorting_1"><a href="@CSRF(controllers.User.routes.AdminController.editMeal(item.getMealId))">@item.getMealId</a></td>
                                            <td class=" ">@item.getMealDescription</td>
                                            <td class=" ">@AppTags.Locale.Currency.ZAR.toString @String.valueOf(item.getPrice)</td>
                                            <td class=" "><input type="checkbox" disabled class="pull-center"
                                                @if(item.isActive) {checked}
                                                /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="small-margin">
            @form(action = controllers.User.routes.CustomerController.index()) {
                @CSRF.formField
                <input class="btn btn-info button-small" type="submit" value="Home">
                }
            </div>
        </div>
    }

    @bodyContent = {
        <div class="row pad-botm">
            <div class="col-md-12">
                <h1 class="header-line">Manage Meals</h1>
                <br/>
                <div class="margin-left-large">
                    <a href="@controllers.User.routes.AdminController.addMeal()" class="btn btn-success add-button text-bold">
                        New Meal<img class="small-icon align-button-contents" src="@routes.Assets.versioned("images/icons/add.png")">
                    </a>
                </div>
                <br/>
            </div>
        </div>
    @table
    }

    @masterpage.apply(" :: Manage Meals", bodyContent)