.someClass{
    font-size: 1em;
}

#someId{
    font-style: italic;
}

.body{
    padding: 15px;
}

.center-parent{
    text-align:center;
    width:80%;
    margin: 0 auto;
}

.small-margin {
    margin: 10px;
}

.small-indent {
    margin-left: 5%;
}

.auto-margin {
    margin: 0 auto;
}

.center-parent-small{
    text-align:center;
    width:40%;
    margin: 0 auto;
}

.center-child {
    display:inline-block;
    margin: 0 auto;
}

.single-border {
    border: 1px solid black;
}

.app-logo {
    padding: 20px;
}

.footer .navbar{
    background-color: #222;
}

.footer-left .footer {
    float: left;
}

.footer-brand {
    font-style: italic;
    font-size: 0.8em;
    color: #777;
    padding-top: 10px;
}

.navbar-user {
    color: #fff;
}

.navbar-top {
    padding-top: 10px;
}

.pull-center {
    float: none;
    text-align: center;
}

.pull-center .align-center{
    display: inline-block;
}

.container-small{
    padding-right: 30%;
    padding-left: 30%;
    margin-right: auto;
    margin-left: auto;
}

.text-large-bold {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bolder;
}

.nav-text-enlarge {
    font-size:18px;
}

.input-container {
    background-color: lightgray;
}

.small-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.button-padding {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-button-hover:hover a {
    opacity:.60;
    text-decoration: none;
}
.div-button-hover a{
    opacity:1;
    text-decoration: none;
    text-align: center;
}

.div-button-hover div{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.div-button-hover a:visited {
    text-decoration: none;
}

.title-right-margin-large {
    margin-right: 5em;
}

.btn {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.button-small {
    width: 80px;
}

.button-status {
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
}

.container-dashboard {
    width: 90%;
}

.container-nav {
    margin-left: 2%;
    margin-right: 2%;
}

.margin-right-large {
    margin-right: 30px;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.schedule-heading {
    position: relative;
}

.overflow-auto {
    overflow:  auto;
}

.overflow-hidden {
    overflow:  hidden;
}

.small-image {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.half-width {
    width: 49%;
}

.display-block {
    display: block;
}

.flex-container {
    display: flex;
}

.schedule-week {
    background: #c0c1fc;
}

.schedule-week a {
    text-decoration: none;
}

.schedule-week:hover {
    background: #b9baf5;

}

.schedule-week:hover a{
    text-decoration: none;
}

.schedule-day-bold {
    font-weight: bold;
}

.margin-left-small {
    margin-left: 15px;
}

.round-corners-small {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.row-width-center {
    width: 95%;
    margin: 0 auto;
}

.clear-formating {
    clear: both;
}

.add-button {
    padding-left: 20px;
    opacity:.70;
}

.add-button:hover {
    opacity: 1;
}

.no-link {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.smaller-font {
    font-size: 75%;
}

.larger-text {
    font-size: 140%;
}

.schedule-text {
    color: black;
}

.text-bold {
    font-weight: bolder;
}

.invert{
    -webkit-filter: invert(100%);
}

.schedule-subtitle {
    font-style: italic;
}

.nav-menu-top-margin {
    margin-top: 10px;
}

.large-icon {
    width: 40px;
}

.nav-icon {
    opacity: 0.7;
}

.nav-icon:hover {
    opacity: 1;
}

.align-button-contents {
    vertical-align: text-top;
    margin-top: -6px;
}

.search-box {
    /* Add a search icon to input */
    /* Position the search icon */
    /* Do not repeat the icon image */
    background: url("../images/icons/searchicon.png") no-repeat 10px 12px;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.standard-box-height {
    height: 45px;
}

.vertical-line-left {
    border-left: thin solid #ffffff;
    height: 40px;
    margin-left: 15px;
}

.vertical-line-right {
    border-right: thin solid #ffffff;
    height: 40px;
    margin-right: 15px;
}

.vertical-line-right-bold {
    border-right: medium solid #ffffff;
    height: 40px;
    margin-right: 15px;
}

.margin-top-small {
    margin-top: 8px;
}

.padding-top {
    padding-top: 12px;
}

.margin-left-large {
    margin-left: 25px;
}

.margin-left-very-small {
    margin-left: 10px;
}

.alert-margin-top {
    magin-top: 8px;
}

.align-center {
    margin: 0 auto;
}

.text-larger {
    font-size:1.2em;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.disabledAccount {
    background-color: #ffb3b8;
}

.disabledAccount:hover {
    background-color: #c7898e;
}

.unverifiedAccount {
    background-color: #ffd2a8;
}

.unverifiedAccount:hover {
    background-color: #e2b68c;
}

.activeAccount {
    background-color: lightblue;
}

.hidden-field{
    display: none;
}