@import helper._
@import models.Finance.UserFunds
@import play.data.Form
@import views.html.Global.Static.masterpage

@(userFunds: Form[UserFunds])

@bodyContent = {
    <div class="row-width-center">
        <h1>Add funds</h1>
        <br/>
        <p>Note: we only support redeeming vouchers bought at select stores, in future further methods will be added</p>
        <br/>
        <br/>
        @helper.form(action = controllers.Finance.routes.UserFinance.doAddFunds(), 'class -> "body") {
            @CSRF.formField
            @helper.inputText(userFunds("voucherCode"), '_name -> "Voucher Code")
            <br/>
            <input type="submit" class="btn btn-success" value="Redeem">
            }
    </div>
}

@masterpage(" :: Add Funds", bodyContent)