@(message: String)

<!DOCTYPE html>

<html>
    <header>
        <title>Login Form</title>
    </header>
    <body>
        @*<h1>Login Form</h1>*@
        @*<br/>*@
        @*<label>Email:</label> <input type="email" name="edtEmail"/>*@
        @*<br/>*@
        @*<br/>*@
        @*<label>Password:</label> <input type="password" name="edtPassword"/>*@
        @*<br/>*@
        @*<label>@message</label>*@
        @*<br/>*@
        <form action="@controllers.routes.AccountController.doLogin()" method="post">
            <input type="submit" value="Login">
        </form>
    </body>
</html>