@import Global.Static.masterpage
@import controllers.Application.AppTags.General
@import helper._
@import models.User.UserLoginInfo
@import play.data.Form

@(loginForm: Form[UserLoginInfo])

@bodyContent = {
    <div class="body center-parent-small single-border">
        <h1>Login to @General.SITENAME.toString</h1>
        <div class="center-child">
            <br/>
            @helper.form(action = controllers.User.routes.UserController.doLogin) {
                @CSRF.formField
                @inputText(loginForm("loginId"), '_name -> "E-Mail", '_class -> "text-field")
                @inputPassword(loginForm("password"), '_name -> "Password", '_class -> "text-field")
                @checkbox(loginForm("rememberMe"), '_name -> "Remember Me")
                <br/>
                <input class="btn btn-success button-small" type="submit" value="Login"/>
                <br/>
            }
            <hr style="background-color: black;" size="3px"/>
            @form(action = controllers.User.routes.CustomerController.register(), '_class -> "header-line") {
                @CSRF.formField
                <input class="btn btn-default" type="submit" value="Register"/>
            }
        </div>
        <br/>
    </div>
    <br/>
}

@masterpage.apply(" :: Login", bodyContent)
