@import Global.Html5._
@import Global.Static.essentials
@import helper.CSRF
@import models.User.UserProfile
@import play.data.Form
@(userProfile: Form[UserProfile])

    @scriptsContent = {

    }

    @navContent = {

    }

    @userContent = {
        <div class="input-group">
        @helper.form(action = controllers.User.routes.KitchenStaffController.doEdit()) {
            @CSRF.formField
            <div class="margin-left-small">
                <h1>Your information</h1>
                <br/>
                <div class="container input-container">
                    <h4>Your Login Information</h4>
                    @helper.inputText(userProfile("alias"), '_name -> "Login ID")
                </div>
                <br/>
                <div class="container input-container">
                    <h4>Change Password</h4>
                    @helper.inputText(userProfile("password"), '_name -> "Password")
                    @helper.inputText(userProfile("confirmPassword"), '_name -> "Confirm Password")
                </div>
                <br/>
                <br/>
                <div class="container input-container">
                    <h6>Your Personal Details</h6>
                    @helper.inputPassword(userProfile("name"), '_name -> "Name")
                    @helper.inputPassword(userProfile("surname"), '_name -> "Surname")
                </div>
                <br/>
                <div class="container input-container">
                    <h6>Your Contact Information</h6>
                    @helper.inputText(userProfile("cellNumber"), '_name -> "Cellphone Number")
                </div>
            </div>
            <div class="row">
                <div class="pull-center">
                    <input class="btn btn-default button-padding button-small" type="button" onclick="location.href = '@controllers.User.routes.KitchenStaffController.index()';" value="Cancel"> <input class="btn btn-success button-padding button-small" type="submit" value="Update">
                </div>
            </div>
            <br/>
        }
        </div>
    }

    @navSide = {
    }

    @bodyContent = {
    @aside.apply("", navSide)

    @article.apply(userContent)

    }

    @essentials.apply(" :: Edit Profile", navContent, bodyContent, scriptsContent)
