@()

<!-- BOOTSTRAP CORE STYLE  -->
@*<link href="@routes.Assets.versioned("orderStyles/bootstrap.css")" rel="stylesheet" />*@

@*<link href="@routes.Assets.versioned("orderStyles/bootstrap.css.map")" rel="stylesheet" />*@
    @*<!-- MAIN STYLE  -->*@
@*<link href="@routes.Assets.versioned("orderStyles/main.css")" rel="stylesheet" />*@

@*<link href="@routes.Assets.versioned("orderStyles/material.css")" rel="stylesheet" />*@

<link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />