@import Global.Html5.nav
@*//@import play.Play.current*@
@*//@import play.i18n.Messages.Implicits._*@
@*//@import play.mvc.Session*@
@*//@import play.mvc.Request*@
@import controllers.Application.AppTags
@(nav_extension: Html)(implicit request: play.api.mvc.RequestHeader)

@nav_section = {
    <section class="menu-section">
        <a class="top app-logo" href="@controllers.User.routes.CustomerController.index()">
            <img src="/assets/images/logo.png"/>
        </a>
        <div class="navbar navbar-inverse set-radius-zero">
            <div class="container">
                <div class="row ">
                    <div class="col-md-pull-12">
                        <div class="navbar-collapse collapse ">
                            <ul class="nav navbar-nav navbar-left navbar-top nav-text-enlarge">
                            @if(request.session.get(AppTags.Session.User.token.toString).isDefined) {
                                @*The DASHBOARD [ /user ]*@
                                <li><a href="@controllers.User.routes.CustomerController.index()" class="menu-top-active nav-text-enlarge"><img src="@routes.Assets.versioned("images/navigation/nav_dash.png")"/>
                                    Dashboard</a>
                                </li>
                                @*The MENU [ /Menu ]*@
                                <li>
                                    <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">
                                        Menu
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                        @*The MENU [ /Menu/Breakfasts ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#breakfasts">
                                            Breakfasts</a></li>
                                        @*The MENU [ /Menu/Lunches ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#lunches">
                                            Lunches</a></li>
                                        @*The MENU [ /Menu/Dinners ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#dinners">
                                            Dinners</a></li>
                                        @*The MENU [ /Menu/Desserts ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#desserts">
                                            Desserts</a></li>
                                        @*The MENU [ /Menu/Snacks ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#snacks">
                                            Snacks</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Order Schedule</a></li>
                                <li><a href="@controllers.Finance.routes.UserFinance.addFunds()">Add Funds</a> </li>
                                <li><a href="#">TODO</a></li>
                                <li><a href="#">TODO</a></li>
                            } else {
                                @*The MENU [ /Menu ]*@
                                <li>
                                    <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown">
                                        Menu
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                        @*The MENU [ /Menu/Breakfasts ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#breakfasts">
                                            Breakfasts</a></li>
                                        @*The MENU [ /Menu/Lunches ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#lunches">
                                            Lunches</a></li>
                                        @*The MENU [ /Menu/Dinners ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#dinners">
                                            Dinners</a></li>
                                        @*The MENU [ /Menu/Desserts ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#desserts">
                                            Desserts</a></li>
                                        @*The MENU [ /Menu/Snacks ]*@
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#snacks">
                                            Snacks</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">TODO</a></li>
                                <li><a href="#">TODO</a></li>
                            }
                            </ul>
                            <ul class="right-container navbar-btn navbar-right">
                            @if(request.session.get(AppTags.Session.User.token.toString).isDefined) {
                                <ul class="top">
                                    <label class="media-heading navbar-user pull-center">Welcome, @session.get(AppTags.Session.User.name.toString)
                                    </label>
                                    <a href="@controllers.User.routes.CustomerController.edit()">
                                        <img class="settings-icon" src="@routes.Assets.versioned("images/navigation/settings.png")">
                                    </a>
                                </ul>
                                <ul class="bottom text-center">
                                    <a href="@controllers.User.routes.UserController.logout()" class="btn btn-danger pull-center">
                                        Logout</a>
                                </ul>
                            } else {
                                <ul class="top">
                                    <label class="media-heading navbar-user pull-center">
                                        Welcome, New User</label>
                                </ul>

                                <ul class="bottom text-center">
                                    <a href="@controllers.User.routes.UserController.login()" class="btn btn-success pull-center">
                                        Login</a>
                                </ul>
                            }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@nav_extension
}

@nav.apply("null", nav_section)