@import java.util.List

@import Global.Static.masterpage
@import controllers.Application.AppTags
@import helper._
@import models.Order.OrderItemBasic
@(ordersList: List[OrderItemBasic])

@table = {
    <div class="row-width-center">
        <div class="panel panel-default">
            @*<div class="panel-heading">*@
            @*Advanced Tables*@
            @*</div>*@
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="dataTables-example_filter" class="dataTables_filter">
                                    <div class="pull-left">
                                        <input id="searchInput" type="search" onkeyup="searchOrder()" placeholder="Search here..." class="form-control input-sm search-box standard-box-height" aria-controls="dataTables-example">
                                    </div>
                                    <div class="pull-left margin-left-small">
                                        <h4>Filter:
                                            <select id="paymentsTable_search_column" aria-controls="dataTables-example" class="standard-box-height form-control input-sm ">
                                                <option value="query_order_id">Order Number</option>
                                                <option value="query_meals_desc">Meals Description</option>
                                                <option value="query_date">Date Delivered</option>
                                                <option value="query_time">Time Delivered</option>
                                                <option value="query_status">Status</option>
                                                <option value="query_total">Total Amount</option>
                                            </select>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="# Order: activate to sort column ascending" style="width: 189px;">
                                        # Order</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Meals: activate to sort column ascending" style="width: 291px;">
                                        Meals</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 291px;">
                                        Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 291px;">
                                        Time</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 113px;">
                                        Status</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" style="width: 264px;">
                                        Total (@AppTags.Locale.Currency.ZAR)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*https://groups.google.com/d/msg/play-framework/hEQ33y6_kSI/9pZ-RLRnRpsJ*@
                                @for((item, index) <- ordersList.zipWithIndex) {
                                    <tr class="gradeA @if((index % 2) == 0) {odd} else {even}">
                                        <td class="sorting_1"><a href="@CSRF(controllers.User.routes.CustomerController.viewOrder(item.orderId))">@item.orderId</a></td>
                                        <td class=" ">@item.mealNames</td>
                                        <td class="center ">@item.getDate</td>
                                        <td class="center ">@item.getTime</td>
                                        <td class=" ">@item.status</td>
                                        <td class=" ">@AppTags.Locale.Currency.ZAR @item.amount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="small-margin">
        @form(action = controllers.User.routes.CustomerController.index()) {
            @CSRF.formField
            <input class="btn btn-info button-small" type="submit" value="Home">
            }
        </div>
    </div>
}

@bodyContent = {
    <div class="row pad-botm">
        <div class="col-md-12">
            <h1 class="header-line">Ordering History</h1>
        </div>
    </div>
@table

}

@masterpage.apply(" :: Past Orders", bodyContent)
