@import models.Finance.PaymentItemDetail
@import Global.Static.masterpage

@(paymentDetails: PaymentItemDetail)

@bodyContent = {
    <h1>Payment details</h1>
    <br/>
    <div class="split-pane">
        <div class="left container input-container">
            <label># Payment</label>
            <label>Amount</label>
            <label>Cash Payment</label>
            <label>Deliverer</label>
            <label># Order</label>
        </div>
        <div class="right container input-container">
            <label>@paymentDetails.paymentId</label>
            <label>@String.valueOf(paymentDetails.amount)</label>
            <label>@if(paymentDetails.isCash){"Yes"}else{"No"}</label>
            <label>@paymentDetails.deliveryStaffName</label>
            <label><a href="@controllers.User.routes.CustomerController.viewOrder(paymentDetails.orderId)">"#@paymentDetails.orderId"</a></label>
        </div>
    </div>
    <br/>
    <input type="button" href="@controllers.User.routes.CustomerController.index()" value="Home">
}

    @masterpage.apply(" :: Payment", bodyContent)