@import Global.Static.masterpage
@import views.html.helper.CSRF
@import utility.DashboardButton

@(dashButtons: List[DashboardButton], bodyContent: Html)

@generateDashButton(dashboardButton: DashboardButton) = {
        <a href="@CSRF.apply(dashboardButton.link)(requestHeader)">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="alert @dashboardButton.cssClassButtonColour back-widget-set text-center">
                    <i class="fa @dashboardButton.cssClassMainImage fa-5x"></i>
                    <h3>@dashboardButton.largeText;
                        <i class="fa @dashboardButton.cssClassSecondaryImage"></i></h3>
                @dashboardButton.smallText
                </div>
            </div>
        </a>
}


@bodyContent = {

    <div class="container row">
        @for(button <- dashButtons){
            @generateDashButton(button)
        }
    </div>
}

@masterpage.apply(" :: Dashboard", bodyContent)