@import java.util.List

@import controllers.Application.AppTags.AppCookie.user_type
@import utility.DashboardButton
@import views.html.helper.CSRF

@(dashButtons: List[DashboardButton], bodyContent: Html)

    @generateDashButton(dashboardButton: DashboardButton, index: Integer) = {
    @helper.form(action = dashboardButton.link) {
        <div class="col-md-3 col-sm-3 col-xs-6 div-button-hover" id="dashButton@index">
            <a>
                @CSRF.formField
                <div class="alert @dashboardButton.cssClassButtonColour back-widget-set text-center">
                    <i class="fa @dashboardButton.cssClassMainImage fa-5x"></i>
                    <h3>@dashboardButton.largeText
                        <i class="fa @dashboardButton.cssClassSecondaryImage"></i></h3>
                    @dashboardButton.smallText
                </div>
            </a>
        </div>
    }
    }

    @bodyContent = {
        <div class="row">
            <div class="container-dashboard center-parent">
            @for((button, index) <- dashButtons.zipWithIndex) {
                @generateDashButton(button, index)
            }
            </div>
        </div>
        <script type="text/javascript">
                var link = null,
                s = "@session().get(user_type.toString)";
                switch (s) {
                    case "CUSTOMER":
                        link = CustomerJSRoutes.controllers.User.CustomerController.getCustomerDashUpdate();
                        break;
                    case "ADMIN":
                        link = AdminJSRoutes.controllers.User.AdminController.getAdminDashUpdate();
                        break;
                    case "KITCHEN":
                        link = KitchenJSRoutes.controllers.User.KitchenStaffController.getKitchenDashUpdate();
                        break;
                    case "DELIVERY":
                        link = DeliveryJSRoutes.controllers.User.DeliveryStaffController.getDeliveryDashUpdate();
                        break;
                    default:
                        alert("Unknown user_type: " + s);
                        break;
                }

                var updateDom = function () {
                    $.get(link.url, function (data) {
                        alert(data)
                    })
                };
                $(document).ready(function () {
//                scope.setInterval(updateDom,2000)
                    updateDom();
                });
        </script>
    }

    @masterpage.apply(" :: Dashboard", bodyContent)