@import Global.Html5._
@import Global.Static._
@import controllers.Application.AppTags

@(pageTitle: String, navExt: Html, bodyContent: Html, scriptsContent: Html)

    @headerHtml = {
        @meta.apply()
        @stylesheets.apply()
        @title(AppTags.General.SITENAME + pageTitle)
    }

    @bodyHtml = {
        @for(key <- Array("danger","warning","success","info")) {
            @if(flash().containsKey(key)) {
                <div class="alert alert-@key">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">@flash.get(key).toString<i class="glyphicon glyphicon-book"></i></a>
                </div>
            }
        }
        @nav_wrapper(navExt)
        @bodyContent
        @footer_wrapper.apply()
    }

    <html xmlns="http://www.w3.org/1999/xhtml">
        @header.apply(headerHtml)
        @body.apply("body", bodyHtml)
        @scripts.apply()
        @scriptsContent
    </html>
