@()

<!-- JAVASCRIPT FILES TO BE  PLACED AT THE BOTTOM OF A PAGE TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.js")" rel="script"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
<script src="@routes.Assets.versioned("javascripts/bootstrap.js")" rel="script"></script>
    <!-- MAIN/CUSTOM SCRIPTS  -->
<script src="@routes.Assets.versioned("javascripts/main.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/carousel.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/editProfile.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/openWindow.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/redirect.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/registerDetails.js")" rel="script"></script>