@()

<!-- JAVASCRIPT FILES TO BE  PLACED AT THE BOTTOM OF A PAGE TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="@routes.Assets.versioned("javascripts/jquery-1.10.2.js")" rel="script"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
<script src="@routes.Assets.versioned("javascripts/bootstrap.js")" rel="script"></script>
    <!-- MAIN/CUSTOM SCRIPTS  -->
<script src="@routes.Assets.versioned("javascripts/main.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/carousel.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/popper.js")" rel="script"></script>

<script src="@routes.Assets.versioned("javascripts/bootstrap-toggle.min.js")"></script>

<script type="text/javascript" src="@controllers.Order.routes.ScheduleController.scheduleJSRoutes()"></script>

<script type="text/javascript" src="@controllers.User.routes.CustomerController.customerJSRoutes"></script>

<script type="text/javascript" src="@controllers.User.routes.AdminController.adminJSRoutes"></script>

<script type="text/javascript" src="@controllers.User.routes.KitchenStaffController.kitchenJSRoutes"></script>

<script type="text/javascript" src="@controllers.User.routes.DeliveryStaffController.deliveryJSRoutes"></script>
