@import Global.Static.masterpage
@import models.Order.OrderSchedule
@import play.data.Form
@import views.html.helper.CSRF
@import views.html.Global.Static.stylesheets
@import views.html.Global.Static.scripts
@(create: Boolean, scheduleForm: Form[OrderSchedule])

@stylesheets.apply()
@scripts.apply()
    @getLink = @{
        if(create) {
            controllers.Order.routes.ScheduleController.doCreateSchedule()
        } else {
            controllers.Order.routes.ScheduleController.updateScheduleName()
        }
    }

    @pageTitle = @{
        if(create) {
            " :: Set Schedule Name"
        } else {
            " :: Update Schedule Name"
        }
    }

    @bodyContent = {
        <div class="container-dashboard">
            <h1 class="margin-left-small">@if(create) {Create} else {Update} Order Schedule</h1>
            <br/>
            @helper.form(action = getLink) {
                @CSRF.formField
                <div class="center-parent">
                    <div class="center-child">
                        @helper.inputText(scheduleForm("title"), '_name -> "Schedule Name")
                        <input class="btn btn-success button-padding" type="submit" value="@if(create) {Create} else {Update} Schedule">
                    </div>
                </div>
            }
        </div>
    }

@bodyContent



