@import Global.Static.masterpage
@import controllers.Application.AppTags
@import helper.{CSRF, form}
@import models.Order.{CustomerOrderItem, OrderScheduleDays}

@(orderScheduleWeek: OrderScheduleDays)

@generateDayTable(dayName: String, dayOrderList: List[CustomerOrderItem]) = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#@dayName" class="collapsed">@dayName</a>
            </h4>
        </div>
        <div id="@dayName" class="panel-collapse collapse" style="height: 0px;">
           <div class="panel-body">
            @if(dayOrderList.size() == 0) {
                    <p class="tab">No scheduled orders</p>
            } else {

                @for((item, index) <- dayOrderList.zipWithIndex) {
                    <tr class="gradeA @if((index % 2) == 0) {odd} else {even}">
                        <td class="sorting_1"><a href="@controllers.User.routes.CustomerController.viewOrder(item.orderId)">@item.orderId</a></td>
                        <td class=" ">@AppTags.Locale.Currency.ZAR.toString @item.amount</td>
                        <td class=" ">@item.getTime</td>
                        <td class=" "><button class="btn btn-danger" href="@CSRF(controllers.Order.routes.ScheduleController.removeOrder(item.orderId))">Remove</button></td>
                    </tr>
                }
            }
        </div>
        </div>
    </div>
}

@generateScheduleTable = {
    @form(action = controllers.Order.routes.ScheduleController.editScheduleName()) {
        @CSRF.formField
        <h1>Your Order Schedule </h1><input type="button" class="btn btn-info" value="@if(orderScheduleWeek == null){Create Schedule}else{Change Schedule Name}" onclick="@if(orderScheduleWeek == null){createSchedule()}else{changeScheduleName()}"/>@if(orderScheduleWeek != null){<input id="btnScheduleStatus" type="button" class="btn @if(orderScheduleWeek.isActive){btn-success}else{btn-danger}" onclick="setScheduleStatus(@session().get(AppTags.AppCookie.user_id.toString))" value="@if(orderScheduleWeek.isActive){Active}else{Inactive}">}
    }
    <br/>
    <div class="panel-group" id="accordion">
        @generateDayTable("Monday", orderScheduleWeek.getMonday)<br/>
        @generateDayTable("Tuesday", orderScheduleWeek.getTuesday)<br/>
        @generateDayTable("Wednesday", orderScheduleWeek.getWednesday)<br/>
        @generateDayTable("Thursday", orderScheduleWeek.getThursday)<br/>
        @generateDayTable("Friday", orderScheduleWeek.getFriday)<br/>
        @generateDayTable("Saturday", orderScheduleWeek.getSaturday)<br/>
        @generateDayTable("Sunday", orderScheduleWeek.getSunday)<br/>
        <br/>
        @form(action = controllers.Order.routes.ScheduleController.addOrder(), '_class -> "pull-right") {
            @CSRF.formField
            <input type="submit" class="btn btn-success" value="Add Order (TODO)">
            }
        <br/>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Monday" class="">Collapsible Group Item #1</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" style="">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
    <br/>
@form(action = controllers.Order.routes.ScheduleController.clearSchedule(), '_class -> "pull-right") {
    @CSRF.formField
    <input type="submit" class="btn btn-danger" value="Clear Schedule">
}
}

@bodyContent = {

    @generateScheduleTable
}


@masterpage.apply(" :: Schedule", bodyContent)





