@import models.Order.MealOrder
@()
<div class="header-wrapper">
    <div>
        <img class="header-title" src="@routes.Assets.versioned("images/logo.png")" href="@controllers.Application.routes.HomeController.index()" />
    </div>

    <div style="float: left">
    @if(session.get("display_name") == null){
        <a href="@controllers.User.routes.UserController.login()">Sign up</a>
    } else{
        <p>Welcome @session.get("display_name")
            <br>
            <a href="@controllers.User.routes.UserController.logout">Sign out</a>
        </p>
    }


    </div>

    <div class="cart-wrapper">
        <a href="@controllers.Order.routes.OrderController.getCart()"><img src="@routes.Assets.versioned("images/menu/cart.png")" class="cart-image" /></a>
        @if(session.get("display_name") != null){
            <p class="cart-wrapper">@MealOrder.findMealOrderByOrderId(session.get("orderId")).size()</p>
        }
    </div>
</div>
<div class="nav-menu-wrapper">
    <div class="nav-bar">
        <ul>
            <li><a href="@controllers.User.routes.CustomerController.index">Dashboard</a></li>
            <li><a href="@controllers.Application.routes.HomeController.index()">Home</a></li>
            @*<li><a href="@controllers.Order.routes.OrderController.getCart()">Checkout</a></li>*@
            <li><a href="@controllers.Order.routes.OrderController.getMenu()">Menu</a></li>
            <li><a href="@controllers.Order.routes.OrderController.getActiveOrders()">Active Orders</a></li>
            <li><a href="@controllers.Order.routes.OrderController.getOrderHistory">Order History</a></li>
            <li><a href="@controllers.Order.routes.OrderController.getPaymentHistory">Payment History</a></li>
            <li><a href="@controllers.Order.routes.ScheduleController.index()">Schedule</a></li>
            <li><a href="@controllers.User.routes.CustomerController.edit()">Settings</a></li>
        </ul>
    </div>
</div>