@import java.util
@import helper._
@import models.Order.Meal
@import views.html.Ordering.selectedMenu
@import controllers.Application.AppTags
@(meals: util.List[Meal], menuType: Integer)

<!DOCTYPE html>
<html>
    <body>
        @*<a href="@routes.OrderController.getAddMealToMenu()">Add Order</a>*@
        @selectedMenu.render(menuType)
        @if(meals.size() == 0){
            <p>List is empty</p>
        } else {
            <table>
                <tr class="bottom_row">
                    <td><h3>Meal</h3></td>
                    <td><h3>Price</h3></td>
                    @*<td>Status</td>*@
                </tr>
                @for(x <- 0 until meals.size) {
                    @form(CSRF(controllers.Order.routes.OrderController.addMealToOrder(meals.get(x).getMealId()))) {
                        <tr>
                            <td>@meals.get(x).getDescription()</td>
                            <td>@meals.get(x).getCost()</td>
                            @*<td>$$Status</td>*@
                        </tr>
                        <tr class="bottom_row">
                            <td><img class="image" src="@routes.Assets.versioned("images/menu/" + meals.get(x).getImage)"/></td>
                            @*<td></td>*@
                            <td colspan="2"><button type="submit">Add to order</button></td>
                        </tr>
                    }
                }
            </table>
        }
    </body>
</html>