@import java.util.List

@import models.Order.{Meal, MealOrder}
@import utility.Pair
@(list: List[Pair[MealOrder, Meal]])

<html>
    <div class="center-wrapper">
        <table class="fill-wrapper">
            <tr class="bottom_row">
                <th class="space-cell-big">Description</th>
                <th>Quantity</th>
                <th>Cost</th>
            </tr>
            @for(x <- 0 until list.size()){
                <tr class="bottom_row">
                    <td class="space-cell-small">@list.get(x).getObject2.getDescription</td>
                    <td>@list.get(x).getObject1.getOrderQty</td>
                    <td>@list.get(x).getObject2.getCost</td>
                </tr>
            }
        </table>
    </div>
</html>