@import helper.{CSRF, form}
@import models.Order.Ingredient
@(ingredient: Ingredient)
<html>

    <div class="center-wrapper">
        <div class="order-ingredient-table">
            @form(CSRF(controllers.Order.routes.KitchenController.editIngredient(ingredient.getIngredientId))){
                <table class="ingredient-table-wrapper">
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td>@ingredient.getDescription</td>
                        <td>@ingredient.getQtyOrdered</td>
                    </tr>
                    <tr>
                        <td><label id="qty">New order quantity:</label></td>
                        <td>
                            <input type="text" name="qty" title="qty" />
                        </td>
                    </tr>
                </table>
                <button type="submit" name="action" value="edit">Change Quantity</button>
                <button type="submit" name="action" value="remove">Remove Order</button>
            }
        </div>
    </div>
</html>

