@import views.html.Global.Static.masterpage

@()

@bodyContent = {
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h1 class="header-line">Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <span class="text-bold" >Email:</span> admin@@eatalot.com
                </div>
            </div>

        </div>
    </div>
    <br/>
@helper.form( action = controllers.Application.routes.HomeController.index()) {
    @helper.CSRF.formField
    <input type="submit" class="btn btn-default button-small" value="Home">
}
}

    @masterpage(" :: Contact Us", bodyContent)