@import Global.Static.masterpage

@(message: String)

@bodyContent = {
    <div style="background-color: #eaeaea;">
        <div class="center-parent">
            <div class="center-child">
                <img src="@routes.Assets.versioned("images/navigation/forbidden.png")" class="top img-fluid">
                <p class="bottom">@message</p>
            </div>
        </div>
    </div>
    <br/>
@helper.form( action = controllers.Application.routes.HomeController.index()) {
    @helper.CSRF.formField
    <input type="submit" class="btn btn-default button-small" value="Home">
}
}

@masterpage.apply(" :: Forbidden", bodyContent)